Repository kids-first/kf-model-fhir, pull requests merged in 2020-09, with the labels that each got.

#193 🚧 Remove "in days" from description
  site_root/input/resources/extensions/StructureDefinition-age-at-event.json
Labels: documentation

#194 ✨ Add ResearchSubject example resource and target API builder
  kf_model_fhir/ingest_plugin/README.md
  kf_model_fhir/ingest_plugin/kids_first_fhir.py
  kf_model_fhir/ingest_plugin/target_api_builders/research_subject.py
  scripts/integration_test.sh
  site_root/input/ImplementationGuide-KidsFirst.json
  site_root/input/resources/examples/ResearchSubject-rs-001.json
  tests/test_app.py
Labels: feature, ingest plugin

#197 ✨ Add sequencing center example resource and target api builder
  kf_model_fhir/ingest_plugin/README.md
  kf_model_fhir/ingest_plugin/kids_first_fhir.py
  kf_model_fhir/ingest_plugin/target_api_builders/kfdrc_sequencing_center.py
  site_root/input/ImplementationGuide-KidsFirst.json
  site_root/input/resources/examples/Organization-sc-001.json
  tests/data/default.tsv
  tests/test_app.py
Labels: feature, ingest plugin

#201 🐛 Modify kfdrc-vital-status example resource and remove lingering "in days" description
  site_root/input/resources/examples/Observation-vs-001-no-phi.json
  site_root/input/resources/examples/Observation-vs-001.json
  site_root/input/resources/profiles/StructureDefinition-kfdrc-phenotype.json
  site_root/input/resources/profiles/StructureDefinition-kfdrc-specimen.json
  site_root/input/resources/profiles/StructureDefinition-kfdrc-vital-status.json
Labels: bug

#204 ♻️ Always remove the integration test server from Jenkins
  scripts/integration_test.sh
Labels: devops

#202 ✨ Add genomic file target api builder
  kf_model_fhir/ingest_plugin/README.md
  kf_model_fhir/ingest_plugin/kids_first_fhir.py
  kf_model_fhir/ingest_plugin/target_api_builders/kfdrc_genomic_file.py
  kf_model_fhir/ingest_plugin/target_api_builders/kfdrc_sequencing_center.py
  site_root/input/ImplementationGuide-KidsFirst.json
  site_root/input/resources/examples/DocumentReference-gf-001.json
  site_root/input/resources/extensions/StructureDefinition-accession-identifier.json
  site_root/input/resources/extensions/StructureDefinition-large-size.json
  site_root/input/resources/profiles/StructureDefinition-kfdrc-genomic-file.json
  site_root/input/resources/search/SearchParameter-file-accession.json
  site_root/input/resources/supplements/temporary_terminologies.ipynb
  site_root/input/resources/terminology/CodeSystem-data-type.json
  site_root/input/resources/terminology/ValueSet-data-type.json
  tests/data/default.tsv
  tests/test_app.py
Labels: feature, ingest plugin
